spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/app_test
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

minio:
  url: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
