name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: pass
          POSTGRES_DB: datacollector
        options: >-
          --health-cmd="pg_isready -U user -d datacollector"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

      sonar:
        image: sonarqube:latest
        ports:
          - 9000:9000

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin

      - name: Build & Test (datacollector)
        working-directory: services/datacollector
        run: mvn clean verify

      - name: Run SonarQube Analysis
        working-directory: services/datacollector
        env:
          SONAR_HOST_URL: http://localhost:9000
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn sonar:sonar -Dsonar.projectKey=datacollector
